@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

// - Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
// - Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
// - Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
// - Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
// - Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
// - White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%)

/// Dark Mode Background
/// @type Color
$background-color-dark: hsl(207, 26%, 17%) !default;

/// Dark Mode Text
/// @type Color
$text-color-dark: hsl(0, 0%, 100%) !default;

/// Dark Mode Elements
/// @type Color
$element-color-dark: hsl(209, 23%, 22%) !default;

/// Light Mode Background
/// @type Color
$background-color-light: hsl(0, 0%, 98%) !default;

/// Light Mode Text
/// @type Color
$text-color-light: hsl(0, 0%, 98%) !default;

/// Light Mode Elements
/// @type Color
$element-color-light: hsl(0, 0%, 100%) !default;

/// Light Mode Input
/// @type Color
$input-color-light: hsl(0, 0%, 52%) !default;


:root {
  --background-color: hsl(0, 0%, 98%);
  --text-color: hsl(200, 15%, 8%);
  --element-color: hsl(0, 0%, 100%);
}

html[data-theme="light"] {
  --background-color: hsl(0, 0%, 98%);
  --text-color: hsl(200, 15%, 8%);
  --element-color: hsl(0, 0%, 100%);
}

html[data-theme="dark"] {
  --background-color: hsl(207, 26%, 17%);
  --text-color: hsl(0, 0%, 100%);
  --element-color: hsl(209, 23%, 22%);
}

* {
  font-family: "Nunito Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0px;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

a {
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
